.vision-page {
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
    background-image: url('/src/images/background-vision-page2.jpg');

    &__first-section {
        width: 100vw;
        height: 90vh; // Ajustado al tamaño de la imagen
        margin: auto;
        display: flex;



        &-p-wrapper {
            width: 65vw;
            position: relative;
        }

        &-logo-wrapper {
            width: 35vw;
            height: 100%;
            display: flex;
            overflow: hidden;
            align-items: center;
            position: relative;
            justify-content: center;


            .vision-page__first-section-logo-1,
            .vision-page__first-section-logo-2,
            .vision-page__first-section-logo-3,
            .vision-page__first-section-logo-4 {
                /* Aplíca la rotación de forma fija */
                transform: rotate(90deg);
                opacity: 1;
                /* Inicialmente visibles */
                position: absolute;
                /* Asegúrate de que las imágenes estén posicionadas correctamente */
                /* Solo animar la opacidad y el movimiento, sin la rotación */
                animation: glitchEffect 35s infinite steps(50);

            }

            .vision-page__first-section-logo-1 {
                width: 500px;
                right: 10px;
                animation-delay: 0s;
            }

            .vision-page__first-section-logo-2 {
                width: 300px;
                right: 10px;
                top: 0;
                animation-delay: 3s;
            }

            .vision-page__first-section-logo-3 {
                width: 600px;
                right: 50px;
                top: 170px;
                animation-delay: 5s;
            }

            .vision-page__first-section-logo-4 {
                width: 300px;
                right: 30px;
                top: 300px;
                animation-delay: 0.9s;
            }
        }

        & p {
            top: 8.5%;
            right: 4.5%;
            width: 100%;
            /* Asegúrate que el texto ocupe todo el espacio disponible */
            max-width: 58vw;
            /* Evita que sea más ancho que el contenedor */
            
            position: absolute;
            font-family: 'Barlow Condensed';
            color: black;
            font-size: 23px;
            text-align: right;
            letter-spacing: 3px;
           
            /* Fuerza palabras a dividirse si es necesario */
        }
    }
}


@media only screen and (min-width: 820px) and (max-width: 1024px) and (min-height: 1180px) and (max-height: 1366px) {
    .vision-page {
        &__first-section {
            height: 50vh;


            &-p-wrapper {


                & p {
                    font-size: 20px;
                }
            }
        }
    }


    .vision-page__first-section-logo-wrapper {
        height: 50vh;
        transform: translateX(40px);


    }


}


@media (max-width: 1200px) {
    .vision-page {
        min-height: 140vh;
    }
    .vision-page__first-section-p-wrapper {
        height: 60vh; /* Aumenta la altura del p-wrapper */
    }
}

@media (max-width: 1024px) {
    .vision-page {
        min-height: 160vh;
    }
    .vision-page__first-section-p-wrapper {
        height: 70vh; /* Aumenta más la altura en pantallas más pequeñas */
    }

    .vision-page__first-section p {
        font-size: 20px; /* Disminuye el tamaño del texto */
    }
}

@media (max-width: 768px) {
    .vision-page__first-section-p-wrapper {
        height: 80vh; /* Aumenta la altura considerablemente en pantallas pequeñas */
    }

    .vision-page__first-section p {
        font-size: 18px;
        right: 2%; /* Ajusta la posición del texto */
    }
}

@media (max-width: 480px) {
    .vision-page__first-section-p-wrapper {
        height: 90vh; /* Máxima altura para el p-wrapper en pantallas muy pequeñas */
    }

    .vision-page__first-section p {
        font-size: 16px; /* Reducimos aún más el tamaño del texto */
    }
}

@media (max-width: 768px) {

    .vision-page__first-section-p-wrapper{
        width: 100vw;
        height: 100vh;
        margin: 0 20px;
        
        

        & p{
            margin: auto;
            text-align: justify;
            top: 0;
            max-width: 95%;
            
        }
    }
    .vision-page__first-section-logo-wrapper{
        display: none;
    }
}







@keyframes glitchEffect {
    0% {
        opacity: 1;
        transform: rotate(90deg) translate(0, 0);
        /* Posición original */
    }

    10% {
        opacity: 0;
        /* Desaparece bruscamente */
    }

    20% {
        opacity: 1;
        transform: rotate(90deg) translate(-1px, 1px);
        /* Se mueve a una nueva posición bruscamente */
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
        transform: rotate(90deg) translate(1px, -1px);
        /* Aparece en otra posición */
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
        transform: rotate(90deg) translate(-5px, -1px);
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 1;
        transform: rotate(90deg) translate(1px, 5px);
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: rotate(90deg) translate(0, 0);
        /* Vuelve a la posición original */
    }
}