.clothing-modal {
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.733);
      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
  
      &--show {
        visibility: visible;
      }
    }
  
    &__content {
      background-color: rgba(0, 0, 0, 0);
      padding: 20px;
      border-radius: 10px;
      width: 48vw;
      max-height: 100vh;
      overflow: hidden;
      position: relative;
      text-align: center;
      font-family: 'Permanent Marker', cursive;
      transform: translateY(-1vw);
      /* Evita que el contenido se desborde */
  
      .slick-prev:before,
      .slick-next:before {
        font-size: 24px;
        color: #ffffff; /* Asegúrate de que el color se aplique */
      }
    }
  
    &__close-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  
    &__close-button {
      all: unset;
      color: brown;
      font-size: 83px;
      position: absolute;
      transform: translateX(-.5vw) translateY(-3.1vw);
      z-index: 1500;
    }
  
    &__slider-container {
      width: 95%;
      height: 100%;
      margin: auto;
    }
  
    &__image {
      width: 100%;
      height: auto;
    }
  
    &__details-label-container {
      position: relative;
    }
  
    &__details-label-color {
      font-family: 'Permanent Marker', cursive;
      font-size: 1.6vw;
      position: absolute;
      background-color: rgb(255, 255, 255);
      z-index: 1500;
      bottom: 9.8vw;
      right: 3vw;
      border-radius: 5px;
      width: 5vw;
      height: 2vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
  
      & img {
        height: 2vw;
        width: 5vw;
        border-radius: 5px;
        border: 2px solid black;
      }
    }
  
    &__details-label-size {
      font-family: 'Permanent Marker', cursive;
      font-size: 1.6vw;
      position: absolute;
      background-color: rgb(255, 255, 255);
      z-index: 1;
      bottom: 12.6vw;
      right: 3vw;
      border-radius: 5px;
      height: 2vw;
      width: 5vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &__add-to-cart-icon {
      background-color: white;
      width: 5vw;
      height: 4.8vw;
      padding: 0;
      border-radius: 5px;
      position: absolute;
      bottom: 4.5vw;
      right: 3vw;
      padding: 2px;
    }
  
    &__title-wrapper {
      transform: translateY(6px);
    }
  
    &__title {
      font-size: 22px;
    }
  }
  
  /* Estilos específicos para dispositivos con tamaños y resoluciones específicas */
  @media only screen and (min-width: 1024px) and (max-width: 1280px) and (min-height: 600px) and (max-height: 800px) and (orientation: landscape) {
    .clothing-modal__content {
      width: 53vw;
    }
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) and (orientation: portrait) {
    .clothing-modal__content {
      width: 80vw;
    }
  }
  
  @media only screen and (min-width: 1366px) and (max-width: 1366px) and (min-height: 1024px) and (max-height: 1024px) and (orientation: landscape) {
    .clothing-modal__content {
      width: 65vw;
    }
  }
  